---
import "@/styles/global.css"
import MainLayout from "@/layouts/MainLayout.astro"
import { VerticalTimeline } from "@/components/vertical-timeline"
---

<MainLayout>
  <h1 class="text-3xl font-bold text-center my-8">Línea de Tiempo</h1>
  <VerticalTimeline />
</MainLayout>
