---
import "@/styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout>
  <section class="flex flex-col justify-around items-center h-dvh w-dvw bg-cover bg-center bg-no-repeat bg-fixed p-5 pt-21 mt-[-4rem]  mask-b-from-70%"
  style={{
  backgroundImage: "url('/images/placeholder.jpg')",
}}>

<h1 class="text-8xl font-bold text-center">
  SAE UC
</h1>
<h2 class="text-4xl font-bold text-center">
  Esta es la pagina web de SAE UC en donde vas a encontrar toda la información que puedes querer sobre el equipo 
</h2>
<span>
  Fijense el degradado de la parte de abajo, lo puse solo aquí para que se vea como queda, pero se puedo colocar en las demás
</span>
</section>
<section class="py-80 m-8 bg-cover" 
  style={{
  backgroundImage: "url('/images/placeholder.jpg')",
}}>
  <h2 class="text-4xl font-bold text-center">
    Aquí podemos colocar aquello en lo que se estpe trabajando actualmente
  </h2>
</section>
<section class="conteiner flex flex-col py-5 px-40 gap-1">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 bg-amber-600">
    <div class="col-span-1 w-full">
      <img src={"/images/placeholder.jpg"} alt="placeholder" class="w-full h-auto"/>
    </div>
    <div class="col-span-1 w-full text-center p-2">
      <h3 class="text-3xl">Diseñamos construimos y competimos</h3>
      <br>
      <p class="text-xl">Del sueño al papapel, del papel aldiseño y del diseño a la realidad</p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 bg-green-700">
    <div class="col-span-1 w-full text-center p-2">
      <h3 class="text-3xl">Diseñamos construimos y competimos</h3>
      <br>
      <p class="text-xl">Del sueño al papapel, del papel aldiseño y del diseño a la realidad</p>
    </div>
    <div class="col-span-1 w-full">
      <img src="/images/placeholder.jpg" alt="placeholder" class="w-full h-auto"/>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 bg-amber-600">
    <div class="col-span-1 w-full">
      <img src="/images/placeholder.jpg" alt="placeholder" class="w-full h-auto"/>
    </div>
    <div class="col-span-1 w-full text-center p-2">
      <h3 class="text-3xl">Diseñamos construimos y competimos</h3>
      <br>
      <p class="text-xl">Del sueño al papapel, del papel aldiseño y del diseño a la realidad</p>
    </div>
  </div>
</section>
</MainLayout>